footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    position:absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    text-decoration: none;
  }
  
  footer p {
    margin: 0;
    text-decoration: none;
  }