* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  font-weight: bold;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  font-family: "Optima";
  font-size: 30px;
}

.nav li:hover {
  color: red;
}