.App {
    background-color: #f5f5f5;
}
html {
    height: 100vh;
}

body {
    background-color: #f5f5f5;
    position: relative;
    min-height: 100%;
    margin: 0;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-thumb {
    background: transparent;
}
